<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willdo.frcscouter.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.willdo.frcscouter.app.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.willdo.frcscouter.app.DataInput"
            android:label="@string/title_activity_data_input"
            android:parentActivityName="com.willdo.frcscouter.app.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainMenu" />
        </activity>
        <activity
            android:name="com.willdo.frcscouter.app.RankingConfig"
            android:label="@string/title_activity_ranking_config"
            android:parentActivityName="com.willdo.frcscouter.app.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainMenu" />
        </activity>
        <activity
        android:name="com.willdo.frcscouter.app.MatchList"
        android:label="@string/title_activity_match_list"
        android:parentActivityName="com.willdo.frcscouter.app.MainMenu" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="MainMenu" />
        </activity>
        <activity
        android:name="com.willdo.frcscouter.app.TeamList"
        android:label="@string/title_activity_match_list"
        android:parentActivityName="com.willdo.frcscouter.app.MainMenu" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="MainMenu" />
        </activity>
        <activity
            android:name="com.willdo.frcscouter.app.TeamDetail"
            android:label="@string/title_activity_team_detail"
            android:parentActivityName="com.willdo.frcscouter.app.TeamList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TeamList" />
        </activity>
    </application>

</manifest>
